<router-outlet name="aux"></router-outlet>
<div class="overlay" *ngIf="isAppBlurred()"></div>

<md-sidenav-layout fullscreen [class.blurred]="isAppBlurred()">
    <md-sidenav mode="side" #mainMenuNav opened>
        <md-card>
            <img draggable="false" md-card-image src="/assets/img/md-header/material-design-logo-3.png">
            <md-card-header *ngIf="!isLoading">
                <img md-card-avatar draggable="false" src="{{ getCurrentUser().avatar }}">
                <div class="header-text">
                    <md-card-title>{{ getCurrentUser().name }}</md-card-title>
                    <md-card-subtitle>{{ getCurrentUser().email }}</md-card-subtitle>
                </div>
            </md-card-header>
            <md-card-header *ngIf="isLoading">
                <div class="header-text loading">
                    <md-icon fontSet="fa" fontIcon="fa-spinner" class="fa-pulse"></md-icon>
                    Loading...
                </div>
            </md-card-header>
        </md-card>
        <menu *ngIf="!isLoading"></menu>
        <md-nav-list>
            <div class="menu-item">
                <md-list-item [routerLink]="['/auth/logout']" md-ripple>
                    <md-icon md-list-avatar fontSet="fa" fontIcon="fa-sign-in"></md-icon>
                    <h4 md-line>{{ 'LOGOUT' | translate }}</h4>
                    <p md-line>Logout from application</p>
                </md-list-item>
            </div>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar>
        <span>
            <md-icon class="menu" md-list-avatar fontSet="fa" fontIcon="fa-bars" (click)="mainMenuNav.toggle()"></md-icon>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <img class="logo" draggable="false" src="/assets/img/logo/elevante-photostation-logo-micro.png" alt="ELEVANTE Photostation"/>
        </span>
    </md-toolbar>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>
