$menuItemHeight: 72px;

md-nav-list {
    md-list-item {
        position:relative;

        h4 {
            height: 20px;
            color: #111;
        }
        p {
            color: #888;
            font-size: 12px;
        }
        md-icon {
            font-size: 24px;
            margin-top: 8px;
            margin-left: 10px;
            text-align: center;
        }
    }
    div.menu-item {
        height: $menuItemHeight;
        overflow: hidden;
    }
}
