// color for the current background
$lightColor: #EBF8FE;

// color of form labels
$labelColor: #56898e;

// background color of buttons, checkboxes
$backgroundColor: #026AA0;

// application message container
$applicationMessageContainerHeight: 28px;

// top card on the sidenav
$topCardHeight: 200px;

// menu item
$menuItemHeight: 72px;

// page top toolbar
$topToolbarHeight: 64px;

.align-left     { text-align: left; }
.align-center   { text-align: center; }
.align-right    { text-align: right; }
.float-left     { float: left; }
.float-right    { float: right; }
