@import "defs";
@import "plugins/custom-scrollbar";
body {
    background: #4A5E86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A5E86 , #131315);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A5E86 , #131315);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -moz-linear-gradient(to left, #4A5E86 , #131315);
    background: -webkit-gradient(to left, #4A5E86 , #131315);
    background: -o-linear-gradient(to left, #4A5E86 , #131315);
    background: -ms-linear-gradient(to left, #4A5E86 , #131315);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#4A5E86', endColorstr='#131315', GradientType=1 );
    color: $lightColor;
}
* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: small;
}
/* Main loading element */
.main-loader {
    text-align: center;
    padding-top: 50px;
    div {
        font-size: 17px;
        padding-top: 30px;
        margin-left: 5px;
        color: $lightColor;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $lightColor !important;
}
.page-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.page-container.with-padding {
    padding: 10px 20px;
}
/* default size is 24x24. We need to change it to auto if we want to spin / pulse */
md-icon {
    width: auto !important;
    height: auto !important;
}

/* content of the tab should have a height of the container minus the tab header - 49px.
This should only affect the tab panels that we use as full screen ones */
md-tab-group.full-page .md-tab-body {
    height: calc(100% - 49px);
}
md-tab-group.with-padding .md-tab-body {
    padding: 20px;
}
md-tab-group.with-vertical-padding .md-tab-body {
    padding: 20px 0;
}
/* tabs in tab panel had some weird background. This is to reset it */
.md-tab-label {
    background: none !important;
    opacity: 0.6 !important;
    flex:1;
}
.md-tab-label.md-active {
    opacity: 1 !important;
}
/* Main side navabar */
md-sidenav-layout md-content {
    max-height: 100%;
    background: transparent;
}
/* Form elements */
label.md-input-placeholder:not(.md-focused),
span.md-checkbox-label {
    color: $labelColor !important;
}
.md-input-underline {
    border-top: 1px solid $labelColor !important;
}
div.md-checkbox-background {
    background-color: $backgroundColor !important;
}

md-checkbox {
    .md-ink-ripple {
        display: none;
    }
}
.md-primary[md-raised-button]:not([disabled]):not(:hover) {
    background-color: $backgroundColor !important;
}
.md-primary[md-raised-button]:not([disabled]):hover {
    background-color: $backgroundColor !important;
}
.md-button-wrapper {
    text-transform: none !important;
    /*For Lower case use lowercase*/
    font-size: 15px;
    font-weight: bold;
}
.alerts-info {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    alert {
        position: fixed;
        width: 100%;
        height: 28px;
        bottom: 0;
        div {
            margin-right: 18px;
        }
    }
}
.alert-primary { background-color: #337ab7; }
.alert-success { background-color: #5cb85c; }
.alert-info { background-color: #5bc0de; }
.alert-warning { background-color: #f0ad4e; }
.alert-danger { background-color: #d9534f; }

.alert {
    text-align: right;
    background-image: linear-gradient(45deg,rgba(0,0,0,.025) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.025) 50%,rgba(0,0,0,.025) 75%,transparent 75%,transparent) !important;
    background-size: 64px 64px;
    padding: 6px 10px 0;
    font-size: 13px;
    border: none;
    border-radius: 0;
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 0;
    height: $applicationMessageContainerHeight;
    md-icon {
        display: table-cell;
        vertical-align: top;
        text-align: left;
        padding-top: 3px;
    }
}
.not-visible {
    opacity: 0;
}
.fill-remaining-space {
    // This fills the remaining space, by using flexbox.
     // Every toolbar row uses a flexbox row layout.
     flex: 1 1 auto;
}
