md-toolbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    min-height: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b747a+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(left, rgba(48,58,80,0.65) 0%, rgba(0,0,0,0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48,58,80,0.65) 0%,rgba(0,0,0,0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(48,58,80,0.65) 0%,rgba(0,0,0,0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#a64b747a', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */
    opacity: 0.8;
    color: white;
    border-radius: 0 0 5px 5px;
    /deep/ md-toolbar-row {
        height: 30px;
    }
    a {
        cursor: pointer;
        color: #517F85;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
}
div.report-content {
    padding: 20px;
    md-input {
        width: 100%;
    }
    div.container-fluid {
        margin-top: 45px;
        text-align: center;
        div.loader {
            font-size: 14px;
            div {
                margin-top: 10px;
                font-size: 14px;
            }
        }
        md-card {
            &:hover {
                opacity: 1 !important;
            }
            md-card-content {
                div.ripple-container {
                    position: relative;
                    overflow: hidden;
                }
            }
            /deep/ div.md-card {
                white-space: nowrap;
            }
            cursor: pointer;
            background-color: #DEDEDE;
            background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.2) 35px, rgba(255,255,255,.2) 70px);
            padding: 0;
            border-radius: 7px;
            width: 100%;
            z-index: 2;
            div.name {
                color: #56898e;
                font-weight: bold;
                font-size: medium;
            }
            div.last-active {
                color: grey;
                font-weight: normal;
                font-size: small;
            }
            img.avatar {
                width: 80px;
                border-radius: 10%;
                position: absolute;
                top: -6px;
                left: -20px;
            }
            div.row {
                overflow: hidden;
                padding-left: 75px;
                margin: 15px;
                div.headers {
                    opacity: 0.8;
                    padding: 0;
                }
                div.details {
                    color: grey;
                }
            }
            div.active-status {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 35px 35px 0;
                border-radius: 0 7px 0 100%;
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0.6;
                md-icon {
                    font-size: 20px;
                    color: white;
                    position: absolute;
                    right: -31px;
                    top: 4px;
                }
            }
            div.active-status.active {
                border-color: transparent green transparent transparent;
            }
            div.active-status.not-active {
                border-color: transparent red transparent transparent;
            }
            button.btn-edit {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}
