:host {
    position: fixed;
    z-index: 11;
    width: 80%;
    max-width: 1010px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
div.container {
    margin: auto;
    position: relative;
    color: #333;
    div.viewer-body {
        height: calc(100vh - 375px);
        border: 1px solid white;
        margin-top: -30px;
        border-radius: 5px 5px 0 0;
        padding: 50px 20px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f3f3f3;
        position: relative;
        max-height: 340px;
        md-icon.tab-header {
            margin-right: 10px;
        }
        md-grid-list {
            height: calc(100% - 20px);
            /deep/ figure {
                padding: 20px;
                display: block;
                autocomplete,
                md-input {
                    width: 100%;
                    display: inline-block;
                }
                /deep/ autocomplete div.autocomplete-list {
                    color: #EBF8FE;
                }
                .sebm-google-map-container {
                    height: 100%;
                    width: 100%;
                }

            }
        }
    }
    md-progress-bar {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    div.avatar {
        display: block;
        margin: auto;
        position: relative;
        width: 130px;
        z-index: 1;
        img {
            width: 130px;
            height: 130px;
            border-radius: 15px;
        }
    }
}
