div.autocomplete-container {
    position: relative;
    md-input {
        width: 100%;
    }
    /deep/ md-input[ng-reflect-read-only="true"] input {
        cursor: pointer;
    }
    md-icon {
        position: absolute;
        top: 8px;
        cursor: pointer;
        right: 0;
        color: #517F85;
        padding: 10px;
    }
    div.autocomplete-list {
        margin-top: -11px;
        position: absolute;
        width: 100%;
        z-index: 3;
        -webkit-perspective: 1000px;
        /* Chrome, Safari, Opera */
        perspective: 1000px;
        div.autocomplete-list-elements {
            transform-origin: center top;
            border: 1px solid #56898e;
            border-top: none;
            background: #3B5D9E;
        }
        ul.autocomplete-suggestions {
            padding-left: 0;
            max-height: 250px;
            overflow-y: auto;
            margin: 0;
            li {
                list-style: none;
                border: none;
                cursor: pointer;
                opacity: 0.6;
                padding: 0;
                position: relative;
                p {
                    margin: 0;
                    padding: 15px 0 0 15px;
                }
                md-divider {
                    margin-top: 14px;
                }
            }
            li.selected {
                background: #1D2129;
                font-weight: bold;
                padding-left: 14px;
            }
            li.selected:before {
                content: "\00bb";
                position: absolute;
                top: 14px;
            }
            li:hover {
                opacity: 1;
                background: #809BC2;
            }
        }
    }
}
