<div class="md-content">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <div flex="100" layout="column" flex-xs="100">
            <div class="logo">
                <img draggable="false" src="/assets/img/logo/elevante-photostation-logo-small.png" alt="ELEVANTE Photostation"/>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="wrapper">
                    <md-input
                        placeholder="{{ 'EMAIL' | translate }}"
                        formControlName="email"
                        name="elevante-email">
                    </md-input>
                    <md-icon
                        md-tooltip="{{ 'EMAIL_EMPTY_WARNING' | translate }}"
                        tooltip-position="before"
                        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required"
                        fontSet="fa"
                        fontIcon="fa-exclamation-triangle">
                    </md-icon>
                    <md-icon
                        md-tooltip="{{ 'EMAIL_FORMAT_INVALID_WARNING' | translate }}"
                        tooltip-position="before"
                        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.pattern"
                        fontSet="fa"
                        fontIcon="fa-exclamation-triangle">
                    </md-icon>
                </div>
                <div class="wrapper">
                    <md-input
                        type="password"
                        placeholder="{{ 'PASSWORD' | translate }}"
                        formControlName="password"
                        name="elevante-password">
                    </md-input>
                    <md-icon
                        md-tooltip="{{ 'PASSWORD_EMPTY_WARNING' | translate }}"
                        tooltip-position="before"
                        *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid"
                        fontSet="fa"
                        fontIcon="fa-exclamation-triangle">
                    </md-icon>
                </div>
                <div class="wrapper-with-margin right">
                    <md-checkbox formControlName="rememberMe">
                        {{ 'REMEMBER_ME' | translate }}
                    </md-checkbox>
                </div>
                <div class="wrapper-with-margin">
                    <button
                        md-raised-button color="primary"
                        [disabled]="!loginForm.valid || isLoggingIn">
                        {{ 'LOGIN' | translate }}
                    </button>
                </div>

                <!-- <bm-ng2-select
                    placeholder="Select a country">
                    <bm-ng2-option value="PL">Poland</bm-ng2-option>
                    <bm-ng2-option value="US" disabled="true">USA</bm-ng2-option>
                    <bm-ng2-option value="DK" selected="true">Denmark</bm-ng2-option>
                    <bm-ng2-option value="FR">France</bm-ng2-option>
                </bm-ng2-select> -->
            </form>
        </div>
    </section>
</div>

<md-progress-bar mode="indeterminate" *ngIf="isLoggingIn"></md-progress-bar>
