$lightColor: #EBF8FE;
div.md-content {
    min-width: 280px;
    background: transparent;
    form {
        width: 60%;
        margin: auto;
        div.wrapper {
            margin: 10px auto;
            position: relative;
            md-icon {
                position: absolute;
                top: 16px;
                right: 0;
                font-size: 16px;
                color: #e74c3c;
            }
        }
        div.wrapper-with-margin {
            margin: 20px auto 10px;
            md-icon.disabled-loading {
                font-size: 24px;
                padding: 6px;
                color: #7D7D7D;
            }
        }
        div.right {
            text-align: right;
        }

        /* THIS IS ONLY TEMPORARY UNTIL IMPUTS FROM ANGULAR2-MATRIAL WILL WORK WITH NEW FORMS */
        input[type="text"],
        input[type="password"] {
            width:90%;
        }
        /* END OF TEMPORARY STYLES */
    }
    button,
    md-checkbox,
    md-input {
        color: $lightColor;
        width: 100%;
    }
    button {
        margin-top: 20px;
    }
    md-checkbox {
        text-align: right;
        margin-top: 20px;
    }
    section {
        max-width: 600px;
        margin: auto;
    }
    .md-input-prefix {
        label {
            color: white;
        }
    }
    .logo {
        margin: 100px auto 50px;
        text-align: center;
        img {
            width: 280px;
        }
    }
}
md-progress-bar {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}
